* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.main {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.step1 {
  width: 300px;
  height: 300px;
  background-color: #eeeeee;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url(img/flow01.png);
  background-size: 280px 150px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.step-tag1 {
  font-size: 12px;
  color: #fff;
  background-color: #ff9a4b;
  display: inline-block;
  position: absolute;
}

.step-text1 {
  text-align: left;
  padding-top: 175px;
  padding-left: 10px;
}

.step-date1 {
  font-size: 12px;
  padding-top: 5px;
}

.step2 {
  width: 300px;
  height: 300px;
  background-color: #eeeeee;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
  background-image: url(img/flow02.png);
  background-size: 280px 150px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.step-tag2 {
  font-size: 12px;
  color: #fff;
  background-color: #ff9a4b;
  display: inline-block;
  position: absolute;
}

.step-text2 {
  text-align: left;
  padding-top: 175px;
  padding-left: 10px;
}

.step-date2 {
  font-size: 12px;
  padding-top: 5px;
}


.step3 {
  width: 300px;
  height: 300px;
  background-color: #eeeeee;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
  background-image: url(img/flow03.png);
  background-size: 280px 150px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.step-tag3 {
  font-size: 12px;
  color: #fff;
  background-color: #ff9a4b;
  display: inline-block;
  position: absolute;
}

.step-text3 {
  text-align: left;
  padding-top: 175px;
  padding-left: 10px;
}

.step-date3 {
  font-size: 12px;
  padding-top: 5px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: auto;
    display: block;
    background-size: 90%;
  }

  .step1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .step-date1 {
    font-size: 90%;
  }

  .step2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .step3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
